  .StudentInfo{
     width: 25%;
    height: 40%;
    text-align: center;
    padding: 20px;
    min-height: 400px;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 25px;
  }
  .StudentInfo h2{
    font-size: 25px;
  }
  .StudentInfo img{
    width: 60%;
  }
